<!DOCTYPE html>
<html lang="no">
    <head>
        <title>Klasserom</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../stylesheet/felles.css">
        <link rel="stylesheet" type="text/css" href="../stylesheet/klasserom.css">
    </head>
    <body>
        <!-- Hovedkontainer for klasserom -->
        <main id="mainContainer">
            <section id="blackboard">
            </section>

            <section id="desk">
                <span id="deskTableTop"></span>
                <span id="deskSign">
                <h3>Eksamen</h3>
                </span>
            </section>
        </main>
    </body>
</html>