<!--
    Kopier og lim inn en snakkebobble på din side,
    for så å lage en ny css stil for å posisjonere den med #snakkebobble_(n)

    Husk å lenke til felles stil arket
    <link rel="stylesheet" type="text/css" href="public/stylesheet/felles.css" />
-->

<div id="snakkebobble_1" class="snakkebobble bottomLeft">
Dummy tekst for Jonny sakuhaksugdhkauwh
</div>

<div id="snakkebobble_2" class="snakkebobble bottomRight">
Dummy tekst for Jonnys akuhaksugdhkauwh
</div>

<div id="snakkebobble_3" class="snakkebobble topLeft">
Dummy tekst for Jonny sakuhaksugdhkauwh
</div>

<div id="snakkebobble_4" class="snakkebobble topRight">
Dummy tekst for Jonnys akuhaksugdhkauwh
</div>