<!--
    Kopier og lim inn en snakkebobble på din side,
    for så å lage en ny css stil for å posisjonere den med #snakkebobble_(n)

    "Bytt ut (n) med nummeret til snakkeboblen og antall pixeler i css"

    #speachBubble_(n) {
        position: absolute;
        top: (n)px;
        left: (n)px;
    }

    For å få snakkeboblen til å ha en pil som peker mot karakteren,
    velger man snakkebobblen som har riktig klasse navn for pilen

    bottomLeft
    bottomRight
    topLeft
    topRight

    Husk å lenke til felles stil arket
    <link rel="stylesheet" type="text/css" href="public/stylesheet/felles.css" />
-->

<div id="speachBubble_1" class="speachBubble bottomLeft">
    Dummy tekst for Jonny sakuhaksugdhkauwh
</div>

<div id="speachBubble_1" class="speachBubble bottomRight">
    Dummy tekst for Jonnys akuhaksugdhkauwh
</div>

<div id="speachBubble_1" class="speachBubble topLeft">
    Dummy tekst for Jonny sakuhaksugdhkauwh
</div>

<div id="speachBubble_1" class="speachBubble topRight">
    Dummy tekst for Jonnys akuhaksugdhkauwh
</div>