#mainContainer {
    background: linear-gradient(#727272 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#desk  {
    background: rgb(0, 0, 0);
}

#jonny{
    width: 180px;
    height: 380px;
    margin-left: 220px; 
    margin-top: 250px;
}