#mainContainer{
    position: relative;
    background: linear-gradient(#727272 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#desk{
    position: absolute;
    background: rgb(41, 41, 41);
}

#blackboard{
    transform: rotate(5deg) translate(-50%, 15%);
    width: 550px;
    height: 270px;
}

#blackboardText{
    position: absolute;
    top: 20px;
    left: 180px;
    color: white;
    font-size: 19px;
}

#grattis{
    font-size: 60px;
}

/* Jonny element styling og animasjoner
--------------------------------------------------------*/
#jonny{
    position: absolute;
    width: 180px;
    height: 380px;
    left: 200px; 
    top: 250px;
    z-index: 2;
}

#jonny:hover{
    transform: scale(1.05);
    animation: jonnyAnimation 0.3s linear infinite;
}

@keyframes jonnyAnimation{
    0% {top: 250px}
    50% {top: 225px}
    100% {top: 250px}
}

/* Snakkebobble
----------------------------------------------------*/
#speechBubble_1{
    position: absolute;
    top: 140px;
    left: 360px;
    padding: 10px;
    margin-bottom: 1em;
    background: #fff;
    border: solid 2px #34373c;
    animation: speechBubbleAnimation 20s normal;
    opacity: 0;
    cursor: pointer;
}

@keyframes speechBubbleAnimation {
    0% {opacity: 0;}
    5% {opacity: 0;}
    10% {opacity: 1;}
    50%{opacity: 1;}
    85% {opacity: 1;}
    100% {opacity: 0;}
}

/* Dør elementer styling
-----------------------------------------------*/
#door{
    position: absolute;
    width: 180px;
    height: 300px;
    background: rgb(255, 255, 255);
    left: 1000px;
    top: 80px;
    border: solid 5px rgb(83, 83, 83);
}

#door:hover{
    position: absolute;
    width: 180px;
    height: 300px;
    background: #d3d3d3;
    left: 1000px;
    top: 80px;
    border: solid 5px rgb(83, 83, 83);
}

#doorknob{
    position: absolute;
    border-radius: 100%;
    background-color: black;
    width:20px;
    height:20px;
    left: 20px; 
    top: 150px;  
}

/* Utgangsskilt
----------------------------------------------------------*/
#exit{
    position: absolute;
    width: 60px;
    height: 20px;
    left: 1065px;
    top: 50px;
    z-index: 1;
}

#exit:hover{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 1060px;
    top: 40px;
    z-index: 1;
}

/* Vindu
------------------------------------------------------------*/
#window{
    position: absolute;
    width: 120px;
    height: 240px;
    left: 110px;
    top: 40px;
    z-index: 1;
    border: solid 6px rgb(56, 56, 56);
}

/* Hash plantasje
----------------------------------------------------------------*/
#lamp{
    position: absolute;
    width: 150px;
    height: 170px;
    left: 30px;
    top: -40px;
    z-index: 1;
}

#weedLight {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 300px;
    height: 500px;
    opacity: 0.5;
    z-index: 2;
}

#plant{
    position: absolute;
    width: 160px;
    height: 190px;
    left: 30px;
    top: 250px;
    z-index: 1;
    animation: plantAnimation 2s linear infinite;
    animation-play-state: running;
}

#plant:hover{
    transform: scale(1.05);
    animation-play-state: running;
}

@keyframes plantAnimation{
    0% {top: 250px}
    50% {top: 225px}
    100% {top: 250px}
}

/* Søppeldunk
--------------------------------------*/
#garbage{
    position: absolute;
    width: 60px;
    height: 100px;
    left: 900px;
    top: 300px;
    z-index: 1;
}

#garbage:hover{
    left: 940px;
    transform: rotate(40deg);
}

/* Starter pack elementer
--------------------------------------------------------------------*/
#diploma{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 640px; 
    top: 320px;
    transform: scale(1);
    animation: zoom 2s ease infinite;
}

#beer{
    position: absolute;
    width: 100px;
    height: 150px;
    left: 500px; 
    top: 300px;
    transform: scale(1);
    animation: zoom 2s ease infinite;
}

#cigarette{
    position: absolute;
    width: 80px;
    height: 130px;
    left: 600px; 
    top: 440px;
    transform: scale(1);
    animation: zoom 2s ease infinite;
    z-index: 2;
}

@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1.5);
    }
}

/* Stjerne elementer og animasjoner
-----------------------------------------------------------*/
#star_1{
    position: absolute;
    left: 540px;
    top: 330px;
    opacity: 0;
    animation: star1Animation 2s 1.1s linear infinite;
}

#star_2{
    position: absolute;
    left: 650px;
    top: 300px;
    opacity: 0;
    animation: star2Animation 1.5s 0.5s linear infinite;
}

#star_3{
    position: absolute;
    left: 630px;
    top: 400px;
    opacity: 0;
    animation: star3Animation 1s 1.3s linear infinite;
}
  
#star_4{
    position: absolute;
    left: 690px;
    top: 540px;
    z-index: 2;
    opacity: 0;
    animation: star4Animation 2s 0.8s linear infinite;
}
  
@keyframes star1Animation{
    0% {opacity: 0; transform: scale(1);}
    50% {opacity: 1; transform: scale(4);}
    75% {opacity: 0;}
    100% {opacity: 0; transform: scale(1);}
}

@keyframes star2Animation{
    0% {opacity: 0; transform: scale(1);}
    50% {opacity: 1; transform: scale(4);}
    100% {opacity: 0; transform: scale(1);}
}

@keyframes star3Animation{
    0% {opacity: 0; transform: scale(1);}
    50% {opacity: 1; transform: scale(4);}
    75% {opacity: 0;}
    100% {opacity: 0; transform: scale(1);}
}

@keyframes star4Animation{
    0% {opacity: 0; transform: scale(1);}
    50% {opacity: 1; transform: scale(4);}
    100% {opacity: 0; transform: scale(1);}
}


/* Mus elementer og animasjoner
--------------------------------------------------------------*/
.mouse {
    position: absolute;
    width: 80px;
    height: 130px;
    right: 1400px; 
    top: 500px;
    z-index: 1;
}

#mouse1{
    animation: mouseAnimation 6s linear infinite;
}

#mouse2{
    animation: mouseAnimation2 10s linear infinite;
}

@keyframes mouseAnimation{
    0% {right: 1400px; top: 500px;}
    40%{right: 800px;}
    60%{right: 600px;}
    100%{right: -200px; top: 500px;}
}

@keyframes mouseAnimation2{
    0% {right: 1400px; top: 600px;}
    40%{right: 800px;}
    60%{right: 600px;}
    100%{right: -200px; top: 400px;}
}


