/* Tavle stylings
------------------------------------------------------------*/
#blackboard {
    left: 40%;
    animation: blackbordAnim 3s 1.1s ease forwards;
}

/* Animation for at tavlen detter ned */

@keyframes blackbordAnim {
    0% {
        transform: translate(-50%, 0);
    }

    90% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: rotate(5deg) translate(-50%, 15%);
    }

}

/* Det som foregår på tavlen
------------------------------------------------------------*/
#blackboardTitle {
    font-size: 2em;
    text-align: center;
    margin: 0;
}

#pictureOnBlackboard {
    position: relative;
    top: 10px;
    left: 50px;
}

#textOnBlackboard {
    position: relative;
    bottom: 240px;
    left: 100px;
    color: white;
    font-size: 19px;
}

#textOnBlackboard > ul > li {
    padding: 0.5em;
}

/* Pult i klasserommet
------------------------------------------------------------*/
#desk {
    top: 430px;
    left: 40%;
}

/* Exitskilt for videre
------------------------------------------------------------*/
#exit {
    position: absolute;
    top: 40px;
    right: 150px;
    width: 100px;
    animation: exitSign 1s infinite;
}

/* Animation for Exit skiltet
------------------------------------------------------------*/

@keyframes exitSign {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Døra for å gå videre til neste løsning
------------------------------------------------------------*/
#doorContainer {
    display: block;
    width: 160px;
    height: 300px;
    background-color: rgb(129, 84, 47);
    position: relative;
    left: 1000px;
    bottom: 365px;
    z-index: 1;
    color: white;
    font-family: Crayon, comic sans ms;
    text-align: center;
}

#doorContainer:hover {
    transform: rotate(3deg)
}

#doorText {
    position: absolute;
    top: 70px;
    left: 44px;
}

#door {
    width: 140px;
    height: 250px;
    background-color: black;
    position: relative;
    left: 1010px;
    bottom: 665px;
    border-style: solid;

}

#handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: goldenrod;
    position: relative;
    left: 1130px;
    bottom: 770px;
    z-index: 1;
}

/* Jonny
------------------------------------------------------------*/
#jonny {
    position: relative;
    top: 250px;
    z-index: 1;
    transition-duration: 0.5s;
}

#jonny:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* svein
------------------------------------------------------------*/
#svein {
    border-radius: 50%;
    position: relative;
    left: 630px;
    bottom: 200px;
    animation-name: sveinShakesHisHead;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Kroppen til Svein */
#bodySvein {
    position: relative;
    left: 430px;
    top: 100px;
    z-index: 1;
}

/* Animation for Svein */
@keyframes sveinShakesHisHead {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

/* Bildet av kong Harald som er stylet
------------------------------------------------------------*/
#kongHaraldContainer {
    position: absolute;
    height: 100px;
    bottom: 500px;
    left: 50px;
    border: dotted yellow 7px;
}

#kongHaraldImage {
    height: 100%;
}


/* Snakkebobble til jonny
------------------------------------------------------------*/
#speechBubble_1 {
    position: absolute;
    left: 210px;
    top: 375px;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
}

#speechBubble_1Input {
    display: none;
}

#speechBubble_1Input:checked~#speechBubble_1 {
    opacity: 1;
}

/* Animation for rotte
------------------------------------------------------------*/
#rat_1 {
    position: absolute;
    left: 1300px;
    top: 480px;
    animation: rat1Anim 5s linear infinite;
}

/* Rotte keyframes */
@keyframes rat1Anim {
    0% {
        left: 1300px;
        top: 480px;
    }

    30% {
        left: 800px;
    }

    40% {
        left: 750px;
        top: 480px;
        z-index: 0;
    }

    45% {
        top: 300px;
        z-index: 1;
    }

    50% {
        top: 325px;
    }

    70% {
        top: 325px;
        transform: rotate(0deg);
    }

    75% {
        top: 250px;
        z-index: 1;
    }

    80% {
        top: 480px;
        z-index: 0;
        transform: rotate(360deg);
    }

    100% {
        left: -100px;
        top: 480px;
        transform: rotate(360deg);
    }
}