#jonny{
position: relative;
top: 250px;}

#svein{
    border-radius: 50%;
    position: relative;
    left: 750px;
    bottom: 200px;}

#bodySvein{
    position: relative;
    left: 550px;
    top: 100px;}
    

#pictureOnBlackboard{
    position: relative;
    bottom: 70px;
    left: 50px;}

#textOnBlackboard{
    position: relative;
    bottom: 250px;
    left: 200px;
    color: white;
    font-size: 15px;}

h1{
    color: white;
    text-align: center;
    position: relative;
    bottom: 35px;}

#speechBubble_1{
    position: absolute;
    top: 550px;
    left: 200px;}

