#mainContainer {
    background: linear-gradient(#dc9d62 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#blackboard {    
    width: 600px;
    height: 300px;
    background: #21561E;
    border: solid 4px white;
    position: absolute;
    left: 40%;
    top: 1em;
    transform: translate(-50%, 0);
    font-family: Crayon, comic sans ms;
    font-size: 24px;
    color: white;
    animation: blackbordAnim 3s 1.1s ease forwards;
}

/*Animation for at tavlen detter ned*/

@keyframes blackbordAnim {
    0% {transform: translate(-50%, 0);}
    90% {transform: translate(-50%, 0);}
    100% {transform: rotate(5deg) translate(-50%, 15%);}

}
/*Det som foregår på tavlen*/
#pictureOnBlackboard{
    position: relative;
    bottom: 50px;
    left: 50px;}

#textOnBlackboard{
    position: relative;
    bottom: 240px;
    left: 100px;
    color: white;
    font-size: 19px;}

h1{
    color: white;
    text-align: center;
    position: relative;
    bottom: 35px;}

/*Pult i klasserommet*/
#desk {
    width: 350px;
    height: 160px;
    background: rgb(129, 84, 47);
    position: absolute;
    left: 40%;
    top: 420px;
    transform: translate(-50%, -45%);
}

/* Exitskilt for videre */
#exit{
    width: 100px;
    height: auto;
    position: absolute;
    right:150px;
    top: 40px;
    animation-name: exitSign;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

/*Animation for Exit skiltet*/

@keyframes exitSign{
    0% {
        transform: scale();
    }
    50% {
        transform: scale();
    }
    100%{
        transform: scale(1.1);
    }
}

/*Døra for å gå videre til neste løsning*/
#doorContainer {
    display: block;
    width: 160px;
    height: 300px;
    background-color:  rgb(129, 84, 47);
    position: relative;
    left: 1000px;
    bottom: 365px;
    z-index: 1;
    color: white;
    font-family: Crayon, comic sans ms;
    text-align: center;
}

/**/

#doorContainer:hover{
    transform: rotate(3deg)
}

#doorText {
    position: absolute;
    top: 70px;
    left: 44px;
}

#door{
    width: 140px;
    height: 250px;
    background-color: black;
    position: relative;
    left: 1010px;
    bottom: 665px; 
    border-style: solid;
    
}

#handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: goldenrod;
    position: relative;
    left: 1130px;
    bottom: 770px;
    z-index: 1;
}

/*Jonny*/
#jonny{
position: relative;
top: 250px;
z-index: 1;
transition-duration: 0.5s;
}

#jonny:hover{
    transform: scale(1.02);
    cursor: pointer;
}

/*svein*/
#svein{
    border-radius: 50%;
    position: relative;
    left: 630px;
    bottom: 200px;
    animation-name: sveinShakesHisHead;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*Animation for Svein*/
@keyframes sveinShakesHisHead{
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

/*Kroppen til Svein*/
#bodySvein{
    position: relative;
    left: 430px;
    top: 100px;
    z-index: 1;
}

/* bildet av kong Harald som er stylet*/
#kongHaraldDiv{
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 500px;
    left: 50px;
    border-style: dotted;
    border-color: yellow;
    border-width: 7px;
}

#kongHarald{
    height: 100px;
    width: auto;
}
    

    /*snakkebobble til jonny*/

    #speechBubble_1 {
        position: absolute;
        left: 250px;
        top: 550px;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
    }
    #speechBubble_1Input {
        display: none;
    }
    #speechBubble_1Input:checked ~ #speechBubble_1{
        visibility: visible;
        opacity: 1;
    }

    /*Animation for rotte*/

    #rat_1 {
        position: absolute;
        left: 1300px;
        top: 480px;
        animation: rat1Anim 5s linear infinite;
    }

    @keyframes rat1Anim{
        0% {left: 1300px; top: 480px;}
        30% {left: 800px;}
        40% {left: 750px; top: 480px; z-index: 0;}
        45% {top: 300px; z-index: 1;}
        50% {top: 325px;}
        70% {top: 325px; transform: rotate(0deg);}
        75% {top: 250px; z-index: 1;}
        80% {top: 480px; z-index: 0; transform: rotate(360deg);}
        100% {left: -100px; top: 480px; transform: rotate(360deg);}
    }

   
