#mainContainer {
    background: linear-gradient(#7c7059 78%, white 78%, white 81%, rgb(30, 30, 88) 81%, #333369 90%);
}

/* Blackboard related styles
--------------------------------------------------------------*/
#blackboard {
    padding: 0.25em;
    width: 720px;
    height: 420px;
    left: 52%;
    background: rgb(43, 43, 43);
    z-index: 3;
}

#examStartLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

.questionText {
    font-size: 1.4em;
}

.questionAnswerText {
    position: relative;
    display: block;
    max-width: 100%;
    padding: 0.25em;
    padding-left: 1.25em;
    cursor: pointer;
}

.questionAnswerText:hover, #examStartLabel:hover {
    background: rgba(255,255,255,0.2);
}

.questionAnswerText::before {
    content: '';
    position: absolute;
    left: 0.25em;
    top: 0.55em;
    width: 0.5em;
    height: 0.5em;
    border: solid 3px white;
    border-radius: 1em;
}

/* Black Board Next Task Lable (Sponge)
----------------------------------------------------------*/
.nextTaskLabel, .sponge {
    position: absolute;
    bottom: 0em;
    left: 0.5em;
    width: 5em;
    height: 3em;
    padding: 0.25em;
    color: white;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.nextTaskLabel.hover:hover{
    cursor: pointer;
    width: 5.5em;
}

.nextTaskSponge {
    width: 100%;
}

.nextTaskLabel > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Blackboard 2 sponge */
#examBlackboard_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blackboardCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 80%, #2b2b2b, #2b2b2b 0%);
    overflow: hidden;
}

#blackboardCoverBlock {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2b2b2b 80%, transparent);
    animation: eraseBlackboard 6s linear forwards;
}

#spongeEraser {
    position: absolute;
    padding: 0;
    bottom: -4.7%;
    left: 1.3%;
    width: 5.5em;
    height: 5em;
    transform: rotate(0deg);
    animation: eraseSponge 7s linear forwards;
}

#speechBubble_2 {
    opacity: 0;
    animation: makeVisible 0.7s linear 7s forwards;
}

/* Desk related styles
--------------------------------------------------------------------------------------*/
#desk {
    top: 590px;
    background: linear-gradient(rgb(56, 35, 19) -5%, rgb(129, 84, 47) 10%);
    z-index: 3;
}

/* Ashtray stylings */
#ashtrayContainer {
    position: absolute;
    top: -3em;
    width: 4em;
}

.smoke {
    position: absolute;
    bottom: 1.5em;
    left: 85%;
    width: 0em;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
    animation: pulse 7s ease-in-out infinite;
}

#smoke_1 {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#smoke_2 {
    animation-delay: 3s;
}

/* LAMP!
-------------------------------------------------------------------------------*/
#lampContainer {
    position: absolute;
    top: 0em;
    right: 7em;
    animation: swing 3s alternate infinite ease-in-out;
    z-index: 999;
}

#lampItem {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3em;
    height: 4.5em;
    transform: translate(-50%, -5%);
    background: #38444f;
    z-index: -1;
}

#lampImage {
    position: absolute;
    bottom: -8.5em;
    left: 50%;
    width: 9em;
    transform: translate(-50%);
}

#lampGlow {
    position: absolute;
    top: 9.1em;
    left: 50%;
    width: 20em;
    transform: translate(-50%);
    animation: blink 5s infinite;
}

/* Roaches related styles
-------------------------------------------------------------------------------*/
#roachesContainer > * {
    position: absolute;
    z-index: 4;
}

 #roach_1 {
     left: 100px;
     top: 240px;
     transform: rotate(180deg);
     animation: roach1Anim 10s linear infinite;
 }

 #roach_2 {
    right: 100px;
    top: 250px;
    transform: rotate(180deg);
    animation: roach2Anim 10s linear infinite;
}

#roach_3 {
    width: 20px;
    right: 100px;
    top: 250px;
    opacity: 1;
    transform: rotate(90deg);
    animation: roach3Anim 10s linear infinite;
}

/* Rocket landing related styles
-------------------------------------------------------------------------------*/
#rocketContainer {
    position: absolute;
    top: 5em;
    left: 1em;
    width: 15em;
    height: 18em;
    background: linear-gradient(#1a75e8 70%, green 70%, darkgreen 74%, darkgreen 74%, green 90%);
    border: solid 4px #2b394a;
    overflow: hidden;
    z-index: 2;
}

#windowImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#rocketImage {
    position: absolute;
    top: -12em;
    height: 5em;
    transform: rotate(180deg);
    animation: rocket 2s linear forwards;
}

/* Røyk fra romskipet */
#spaceshipSmokeContainer {
    position: absolute;
    left: 3.5em;
    top: 15em;
}

#spaceshipSmokeContainer > * {
    position: absolute;
    top: 0em;
    right: 0em;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100%;
    opacity: 0;
}

#spaceshipSmoke_1 {
    animation: smokeAnimation 1s infinite 2s linear;
}

#spaceshipSmoke_2 {
    animation: smokeAnimation 1.5s infinite 2s linear;
}

#spaceshipSmoke_3, #spaceshipSmoke_4 {
    animation: smokeAnimation 1.75s infinite 2s linear;
}

#spaceshipSmoke_5, #spaceshipSmoke_6 {
    animation: smokeAnimation 2s infinite 2s linear;
}

/* Politi bil container, bilder og animationer
------------------------------------------------------------------------------------------------------- */
#copCarContainer {
    position: absolute;
    bottom: 0em;
    left: 20em;
    width: 10em;
    animation: copCarAnim 3s forwards 1.5s;
    transform: rotateY(180deg);
}

#copCar {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

#copCarWheelLeft {
    position: absolute;
    bottom: 30px;
    left: 20%;
    animation: copCarWheelsAnim 3s ease-out;
    width: 10%;
}

#copCarWheelRight {
    position: absolute;
    bottom: 30px;
    left: 75%;
    animation: copCarWheelsAnim 3s ease;
    width: 10%;
}

/* Jonny related styles
-------------------------------------------------------------------------------*/
#jonnyContainer {
    position: absolute;
    bottom: 2em;
}

#jonnyImage {
    position: relative;
    left: -15em;
    z-index: 999;
    animation: jonnyWalk 2s linear 3s forwards;
}

/* Snakke bobble logic
----------------------------------------------------------------------------------*/
#speechBubbleContainer_1 {
    position: absolute;
    bottom: 23em;
    left: 13em;
    opacity: 0;
    animation: makeVisible 0.5s forwards 5.2s;
    z-index: 999;
}

#speechBubbleContainer_2 {
    position: absolute;
    bottom: 4em;
    left: -3em;
    z-index: 999;
}

.bubbleText {
    display: none;
    font-size: 16px;
    font-family: comic sans ms;
    color: #000;
}

/* Før eksamen snakkebobbler */
#speechBubbleInput_1:checked ~ #speechBubble_1,
#bubbleTextInput_11:checked ~ #bubbleText_11,
#bubbleTextInput_12:checked ~ #bubbleText_12,
#bubbleTextInput_13:checked ~ #bubbleText_13 {
    display: block;
}


/* Etter eksamen snakkebobbler */
#speechBubbleInput_2:checked ~ #speechBubble_2,
#bubbleTextInput_21:checked ~ #bubbleText_21,
#bubbleTextInput_22:checked ~ #bubbleText_22,
#bubbleTextInput_23:checked ~ #bubbleText_23 {
    display: block;
}


/* Exam test slides logic
--------------------------------------------------------------------------------------*/
.hiddenSection {
    display: none;
}

#examBlackboardInput_1:checked ~ #examBlackboard_1,
#examBlackboardInput_2:checked ~ #examBlackboard_2,
#examStartInput:checked ~ #examStart,
#examTaskInputCharter:checked ~ #examTaskCharter,
#examTaskInputFacebook:checked ~ #examTaskFacebook,
#examTaskInputKlima:checked ~ #examTaskKlima,
#examTaskInputFlat:checked ~ #examTaskFlat {
    display: block;
}

/* Charter questions
-----------------------------------------------------------*/
#questionAnswerInputCharter_1:checked ~ #questionAnswerLabelCharter_1{
    color: lightgreen;
}
#questionAnswerInputCharter_1:checked ~ #questionAnswerLabelCharter_1::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputCharter_2:checked ~ #questionAnswerLabelCharter_2 {
    color: lightgreen;
}
#questionAnswerInputCharter_2:checked ~ #questionAnswerLabelCharter_2::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputCharter_3:checked ~ #questionAnswerLabelCharter_3 {
    color: lightgreen;
}
#questionAnswerInputCharter_3:checked ~ #questionAnswerLabelCharter_3::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputCharter_4:checked ~ #questionAnswerLabelCharter_4 {
    color: rgb(255, 103, 86);
}
#questionAnswerInputCharter_4:checked ~ #questionAnswerLabelCharter_4::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Facebook question toggle
-----------------------------------------------------------*/
#examTaskAnswersFacebook {
    font-size: 0.8em;
}

#questionAnswerInputFacebook_1:checked ~ #questionAnswerLabelFacebook_1 {
    color: lightgreen;
}
#questionAnswerInputFacebook_1:checked ~ #questionAnswerLabelFacebook_1::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFacebook_2:checked ~ #questionAnswerLabelFacebook_2 {
    color: lightgreen;
}
#questionAnswerInputFacebook_2:checked ~ #questionAnswerLabelFacebook_2::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFacebook_3:checked ~ #questionAnswerLabelFacebook_3 {
    color: lightgreen;
}
#questionAnswerInputFacebook_3:checked ~ #questionAnswerLabelFacebook_3::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFacebook_4:checked ~ #questionAnswerLabelFacebook_4 {
    color: rgb(255, 103, 86);
}
#questionAnswerInputFacebook_4:checked ~ #questionAnswerLabelFacebook_4::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Klima question toggle
-----------------------------------------------------------*/
#questionAnswerInputKlima_1:checked ~ #questionAnswerLabelKlima_1 {
    color: lightgreen;
}
#questionAnswerInputKlima_1:checked ~ #questionAnswerLabelKlima_1::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputKlima_2:checked ~ #questionAnswerLabelKlima_2 {
    color: lightgreen;
}
#questionAnswerInputKlima_2:checked ~ #questionAnswerLabelKlima_2::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputKlima_3:checked ~ #questionAnswerLabelKlima_3 {
    color: lightgreen;
}
#questionAnswerInputKlima_3:checked ~ #questionAnswerLabelKlima_3::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputKlima_4:checked ~ #questionAnswerLabelKlima_4 {
    color: rgb(255, 103, 86);
}
#questionAnswerInputKlima_4:checked ~ #questionAnswerLabelKlima_4::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Flat question
-----------------------------------------------------------*/
#questionAnswerInputFlat_1:checked ~ #questionAnswerLabelFlat_1 {
    color: lightgreen;
}
#questionAnswerInputFlat_1:checked ~ #questionAnswerLabelFlat_1::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFlat_2:checked ~ #questionAnswerLabelFlat_2 {
    color: lightgreen;
}
#questionAnswerInputFlat_2:checked ~ #questionAnswerLabelFlat_2::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFlat_3:checked ~ #questionAnswerLabelFlat_3 {
    color: lightgreen;
}
#questionAnswerInputFlat_3:checked ~ #questionAnswerLabelFlat_3::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInputFlat_4:checked ~ #questionAnswerLabelFlat_4 {
    color: rgb(255, 103, 86);
}
#questionAnswerInputFlat_4:checked ~ #questionAnswerLabelFlat_4::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Animation keyframes
------------------------------------------------------------------------*/

/* Lamp swining animation
-------------------------------------*/
@keyframes swing {
    from {
        transform: rotateZ(45deg);
    }
    to {
        transform: rotateZ(-45deg);
    }
}

@keyframes blink {
    0% {opacity: 1;}
    2% {opacity: 1;}
    3% {opacity: 0;}
    4% {opacity: 0;}
    7% {opacity: 1;}
    8% {opacity: 0;}
    15% {opacity: 0;}
    16% {opacity: 1;}
    20% {opacity: 1;}
    25% {opacity: 1;}
    26% {opacity: 0;}
    28% {opacity: 1;}
    38% {opacity: 0;}
    38% {opacity: 0;}
    40% {opacity: 1;}
    100% {opacity: 1;}
}

/* Roaches keyframes
---------------------------------------------------------------*/
@keyframes roach1Anim {
    0% {left: 100px; top: -100px; transform: rotate(180deg);}
    10% {top: 45px; transform: rotate(180deg);}
    15% {transform: rotate(90deg);}
    20% {left: 100px; top: 45px;}
    30% {left: 400px; transform: rotate(90deg);}
    35% {transform: rotate(130deg);}
    40% {left: 400px; top: 45px;}
    50% {left: 700px; top: 400px; transform: rotate(130deg);}
    55% {transform: rotate(70deg);}
    60% {left: 700px; top: 400px;}
    70% {left: 1150px; top: 240px; transform: rotate(70deg);}
    75% {top: 240px; transform: rotate(180deg);}
    80% {transform: rotate(360deg);}
    85% {top: 240px; transform: rotate(0deg);}
    99% {left: 1150px; top: -100px; transform: rotate(0deg);}
    100% {left: 100px; top: -100px;}
}
@keyframes roach2Anim {
    0% {right: 100px; top: 250px; transform: rotate(180deg);}
    30%{top: 530px; transform: rotate(180deg);}
    35%{transform: rotate(0deg);}
    40%{top: 530px; right: 100px;}
    75% {right: 100px; top: 250px; transform: rotate(0deg);}
    80% {transform: rotate(-260deg);}
    85% {right: 100px; top: 250px; transform: rotate(0deg);}
    100% {right: 100px; top: 250px; transform: rotate(180deg);}
}
@keyframes roach3Anim {
    0% {top: 250px; right: 100px; opacity: 0;}
    84% {opacity: 0;}
    85% {right: 100px; opacity: 1;}
    90% {right: 60px;}
    95% {right: 60px;}
    99% {right: -100px; opacity: 1;}
    100% {top: 250px; right: -100px; opacity: 0;}
}

/* Smoke keyframes
---------------------------*/
@keyframes pulse {
    0% {
        opacity: 0;
        width: 0;
    }
     50% {
         opacity: 0.8;
     }
     100% {
        bottom:3em;
        width: 4em;
     }
}

/* Blackboard erasing animation
---------------------------------------*/
@keyframes eraseBlackboard {
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}

/* Blackboard sponge animation
---------------------------------------*/
@keyframes eraseSponge {
    0% {
        bottom: -4.7%;
        left: 1.3%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 73%;
        left: 80%;
        transform: rotate(120deg);
    }
    20% {
        left: 0%;
        transform: rotate(50deg);
    }
    30% {
        bottom: 53%;
        left: 80%;
        transform: rotate(120deg);
    }
    40% {
        left: 0%;
        transform: rotate(50deg);
    }
    50% {
        bottom: 33%;
        left: 80%;
        transform: rotate(120deg);
    }
    60% {
        left: 0%;
        transform: rotate(50deg);
    }
    70% {
        bottom: 13%;
        left: 80%;
        transform: rotate(120deg);
    }
    80% {
        left: 1.3%;
        transform: rotate(10deg);
    }
    85% {
        bottom: -4.7%;
        left: 1.3%;
        transform: rotate(0deg);
    }
    100% {
        bottom: -4.7%;
        left: 1.3%;
        transform: rotate(0deg);
    }
}

/* Make visible keyframes
------------------------------------------------*/
@keyframes makeVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Rocket in background keyframes */
@keyframes rocket {
    0% {
        top: -12em;
    }
    100% {
        top: 11em;
    }
}

/* Rocket smoke keyframes */
@keyframes smokeAnimation {
    from {
        transform: translate(0,0%);
        width: 25px;
        height: 25px;
        opacity: 0.7;
    }

    to {
        transform: translate(0,-300%);
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

/* Police car keyframes */
@keyframes copCarAnim {
    0% {left: 20em;}
    100% {left: 4em;}
}
@keyframes copCarWheelsAnim {
    0% {transform: rotate(0deg);}
    40% {transform: rotate(500deg);}
    60% {transform: rotate(500deg);}
    100% {transform: rotate(1500deg);}
}

/* Jonny Walk keyframes
------------------------------------------------*/
@keyframes jonnyWalk {
    0% {left: -15em;bottom: 1em;}
    10% {bottom: 0em;}
    15% {bottom: 1em;}
    20% {bottom: 0em;}
    25% {bottom: 1em;}
    30% {bottom: 0em;}
    35% {bottom: 1em;}
    40% {bottom: 0em;}
    45% {bottom: 1em;}
    50% {bottom: 0em;}
    55% {bottom: 1em;}
    60% {bottom: 0em;}
    65% {bottom: 1em;}
    70% {bottom: 0em;}
    75% {bottom: 1em;}
    80% {bottom: 0em;}
    85% {bottom: 1em;}
    90% {bottom: 0em;}
    95% {bottom: 1em;}
    100% {bottom: 0em;left: 0em;}
}