input {
    display: none;
}

#blackboard {
    padding:0.25em,
}

.questionLabel {
    display: block;
    max-width: 100%;
    padding: 0.25em;
    cursor: pointer;
}

#questionInput_2:checked ~ input:checked+label {
    background: yellow;
}