input {
    display: none;
}

#blackboard {
    padding:0.25em,
}

.questionLabel {
    display: block;
    max-width: 100%;
    padding: 0.25em;
    cursor: pointer;
}

#questionInput_1:checked ~ #box {
    width: 10em;
    height: 10em;
    background: yellow;
}

#questionInput_2:checked ~ #box {
    width: 10em;
    height: 10em;
    background: yellow;
}

#questionInput_3:checked ~ #box {
    width: 10em;
    height: 10em;
    background: yellow;
}

#questionInput_4:checked ~ #box {
    width: 10em;
    height: 10em;
    background: yellow;
}