input {
    display: none;
}

#mainContainer {
    background: linear-gradient(#dc9d62 78%, white 78%, white 81%, rgb(30, 30, 88) 81%, #333369 90%);
}

#blackboard {
    padding: 0.25em;
    width: 720px;
    height: 420px;
    background: rgb(43, 43, 43);
}

#desk {
    top: 590px;
}

.questionText {
    font-size: 1.4em;
}

.questionAnswerText {
    position: relative;
    display: block;
    max-width: 100%;
    padding: 0.25em;
    padding-left: 1.25em;
    cursor: pointer;
}

.questionAnswerText:hover {
    background: rgba(255,255,255,0.2);
}

.questionAnswerText::before {
    content: '';
    position: absolute;
    left: 0.25em;
    top: 0.55em;
    width: 0.5em;
    height: 0.5em;
    border: solid 3px white;
    border-radius: 1em;
}
/* Black Board Next Task Lable (Sponge)
----------------------------------------------------------*/
.nextTaskLabel {
    position: absolute;
    bottom: 1.2em;
    left: 2.5em;
    padding: 0.25em;
    color: white;
    text-align: center;
    cursor: pointer;
}

.nextTaskLabel:hover > * {
    font-weight: bold;
    width: 5.5em;
}

.nextTaskLabel > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nextTaskSponge {
    width: 5em;
}

/* Exam test Section toggle
-------------------------------------------------------*/
.examTask {
    display: none;
}

#examTask_1Input:checked ~ #examTask_1 {
    display: block;
}

#examTask_1Input:checked ~ #examTask_1 {
    display: block;
}

#examTask_2Input:checked ~ #examTask_2 {
    display: block;
}

#examTask_3Input:checked ~ #examTask_3 {
    display: block;
}

#examTask_4Input:checked ~ #examTask_4 {
    display: block;
}

/* Exam test 1 questions
-----------------------------------------------------------*/
#questionAnswerInput_11:checked ~ #questionAnswerLabel_11{
    color: lightgreen;
}
#questionAnswerInput_11:checked ~ #questionAnswerLabel_11::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_12:checked ~ #questionAnswerLabel_12 {
    color: lightgreen;
}

#questionAnswerInput_13:checked ~ #questionAnswerLabel_13 {
    color: lightgreen;
}

#questionAnswerInput_14:checked ~ #questionAnswerLabel_14 {
    color: rgb(255, 103, 86);
}

/* Exam test 1 question toggle
-----------------------------------------------------------*/
#questionAnswerInput_21:checked ~ #questionAnswerLabel_21 {
    color: lightgreen;
}

#questionAnswerInput_22:checked ~ #questionAnswerLabel_22 {
    color: lightgreen;
}

#questionAnswerInput_23:checked ~ #questionAnswerLabel_23 {
    color: lightgreen;
}

#questionAnswerInput_24:checked ~ #questionAnswerLabel_24 {
    color: rgb(255, 103, 86);
}

/* Exam test 1 question toggle
-----------------------------------------------------------*/
#questionAnswerInput_31:checked ~ #questionAnswerLabel_31 {
    color: lightgreen;
}

#questionAnswerInput_32:checked ~ #questionAnswerLabel_32 {
    color: lightgreen;
}

#questionAnswerInput_33:checked ~ #questionAnswerLabel_33 {
    color: lightgreen;
}

#questionAnswerInput_34:checked ~ #questionAnswerLabel_34 {
    color: rgb(255, 103, 86);
}

/* Exam test 1 question
-----------------------------------------------------------*/
#examTaskAnswers_4 {
    font-size: 0.8em;
}

#questionAnswerInput_41:checked ~ #questionAnswerLabel_41 {
    color: lightgreen;
}

#questionAnswerInput_42:checked ~ #questionAnswerLabel_42 {
    color: lightgreen;
}

#questionAnswerInput_43:checked ~ #questionAnswerLabel_43 {
    color: lightgreen;
}

#questionAnswerInput_44:checked ~ #questionAnswerLabel_44 {
    color: rgb(255, 103, 86);
}