input {
    display: none;
}

#mainContainer {
    background: linear-gradient(#dc9d62 78%, white 78%, white 81%, rgb(30, 30, 88) 81%, #333369 90%);
}

/* Blackboard related styles
--------------------------------------------------------------*/
#blackboard {
    padding: 0.25em;
    width: 720px;
    height: 420px;
    background: rgb(43, 43, 43);
}

#examStartLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

.questionText {
    font-size: 1.4em;
}

.questionAnswerText {
    position: relative;
    display: block;
    max-width: 100%;
    padding: 0.25em;
    padding-left: 1.25em;
    cursor: pointer;
}

.questionAnswerText:hover, #examStartLabel:hover {
    background: rgba(255,255,255,0.2);
}

.questionAnswerText::before {
    content: '';
    position: absolute;
    left: 0.25em;
    top: 0.55em;
    width: 0.5em;
    height: 0.5em;
    border: solid 3px white;
    border-radius: 1em;
}

/* Black Board Next Task Lable (Sponge)
----------------------------------------------------------*/
.nextTaskLabel {
    position: absolute;
    bottom: 1.5em;
    left: 0.5em;
    width: 5em;
    padding: 0.25em;
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.nextTaskLabel:hover {
    font-weight: bold;
    width: 5.5em;
}

.nextTaskLabel > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nextTaskSponge {
    width: 100%;
}

/* Desk related styles
--------------------------------------------------------------------------------------*/
#desk {
    top: 590px;
    background: linear-gradient(rgb(56, 35, 19) -5%, rgb(129, 84, 47) 10%);
}

/* Ashtray stylings */
#ashtrayContainer {
    position: absolute;
    top: -3em;
    width: 4em;
    z-index: 1;
}

.smoke {
    position: absolute;
    bottom: 0.25em;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
    animation: pulse 7s infinite forwards;
}

#smoke_1 {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#smoke_2 {
    animation-delay: 3s;
}

/* Roaches related styles
-------------------------------------------------------------------------------*/
 #roachesContainer {
    
 }

 #roach_1 {
     position: absolute;
     left: 100px;
     top: 240px;
     transform: rotate(180deg);
     animation: roach1Anim 10s linear infinite;
 }
 #roach_2 {
    position: absolute;
    right: 100px;
    top: 250px;
    transform: rotate(180deg);
    animation: roach2Anim 10s linear infinite;
}
#roach_3 {
    position: absolute;
    width: 20px;
    right: 100px;
    top: 250px;
    opacity: 1;
    transform: rotate(90deg);
    animation: roach3Anim 10s linear infinite;
}

 @keyframes roach1Anim {
     0% {left: 100px; top: -100px; transform: rotate(180deg);}
     10% {top: 100px; transform: rotate(180deg);}
     15% {transform: rotate(90deg);}
     20% {left: 100px; top: 100px;}
     30% {left: 400px; transform: rotate(90deg);}
     35% {transform: rotate(130deg);}
     40% {left: 400px; top: 100px;}
     50% {left: 700px; top: 400px; transform: rotate(130deg);}
     55% {transform: rotate(70deg);}
     60% {left: 700px; top: 400px;}
     70% {left: 1150px; top: 240px; transform: rotate(70deg);}
     75% {top: 240px; transform: rotate(180deg);}
     80% {transform: rotate(360deg);}
     85% {top: 240px; transform: rotate(0deg);}
     99% {left: 1150px; top: -100px; transform: rotate(0deg);}
     100% {left: 100px; top: -100px;}
 }
 @keyframes roach2Anim {
     0% {right: 100px; top: 250px; transform: rotate(180deg);}
     30%{top: 530px; transform: rotate(180deg);}
     35%{transform: rotate(0deg);}
     40%{top: 530px; right: 100px;}
     75% {right: 100px; top: 250px; transform: rotate(0deg);}
     80% {transform: rotate(-260deg);}
     85% {right: 100px; top: 250px; transform: rotate(0deg);}
     100% {right: 100px; top: 250px; transform: rotate(180deg);}
 }
 @keyframes roach3Anim {
     0% {top: 250px; right: 100px; opacity: 0;}
     84% {opacity: 0;}
     85% {right: 100px; opacity: 1;}
     90% {right: 60px;}
     95% {right: 60px;}
     99% {right: -100px; opacity: 1;}
     100% {top: 250px; right: -100px; opacity: 0;}
 }


/* Jonny related styles
-------------------------------------------------------------------------------*/
#jonnyContainer {
    position: absolute;
    bottom: 2em;
}

/* Snakke bobbler
----------------------------------------------------------------------------------*/
#speechBubbleContainer {
    position: absolute;
    top: 13em;
    left: 13em;
}

.bubbleText {
    display: none;
}

#bubbleText_1Input:checked ~ #bubbleText_1 {
    display: block;
}
#bubbleText_2Input:checked ~ #bubbleText_2 {
    display: block;
}
#bubbleText_3Input:checked ~ #bubbleText_3 {
    display: block;
}

#speechBubble_1Input:checked ~ #speechBubble_1 {
    display: none;
}


/* Exam test Section toggle
--------------------------------------------------------------------------------------*/
.examSlide {
    display: none;
}

#examStartInput:checked ~ #examStart {
    display: block;
}


#examTask_1Input:checked ~ #examTask_1 {
    display: block;
}

#examTask_1Input:checked ~ #examTask_1 {
    display: block;
}

#examTask_2Input:checked ~ #examTask_2 {
    display: block;
}

#examTask_3Input:checked ~ #examTask_3 {
    display: block;
}

#examTask_4Input:checked ~ #examTask_4 {
    display: block;
}

/* Exam test 1 questions
-----------------------------------------------------------*/
#questionAnswerInput_11:checked ~ #questionAnswerLabel_11{
    color: lightgreen;
}
#questionAnswerInput_11:checked ~ #questionAnswerLabel_11::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_12:checked ~ #questionAnswerLabel_12 {
    color: lightgreen;
}
#questionAnswerInput_12:checked ~ #questionAnswerLabel_12::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_13:checked ~ #questionAnswerLabel_13 {
    color: lightgreen;
}
#questionAnswerInput_13:checked ~ #questionAnswerLabel_13::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_14:checked ~ #questionAnswerLabel_14 {
    color: rgb(255, 103, 86);
}
#questionAnswerInput_14:checked ~ #questionAnswerLabel_14::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Exam test 1 question toggle
-----------------------------------------------------------*/
#questionAnswerInput_21:checked ~ #questionAnswerLabel_21 {
    color: lightgreen;
}
#questionAnswerInput_21:checked ~ #questionAnswerLabel_21::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_22:checked ~ #questionAnswerLabel_22 {
    color: lightgreen;
}
#questionAnswerInput_22:checked ~ #questionAnswerLabel_22::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_23:checked ~ #questionAnswerLabel_23 {
    color: lightgreen;
}
#questionAnswerInput_23:checked ~ #questionAnswerLabel_23::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_24:checked ~ #questionAnswerLabel_24 {
    color: rgb(255, 103, 86);
}
#questionAnswerInput_24:checked ~ #questionAnswerLabel_24::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Exam test 1 question toggle
-----------------------------------------------------------*/
#questionAnswerInput_31:checked ~ #questionAnswerLabel_31 {
    color: lightgreen;
}
#questionAnswerInput_31:checked ~ #questionAnswerLabel_31::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_32:checked ~ #questionAnswerLabel_32 {
    color: lightgreen;
}
#questionAnswerInput_32:checked ~ #questionAnswerLabel_32::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_33:checked ~ #questionAnswerLabel_33 {
    color: lightgreen;
}
#questionAnswerInput_33:checked ~ #questionAnswerLabel_33::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_34:checked ~ #questionAnswerLabel_34 {
    color: rgb(255, 103, 86);
}
#questionAnswerInput_34:checked ~ #questionAnswerLabel_34::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Exam test 1 question
-----------------------------------------------------------*/
#examTaskAnswers_4 {
    font-size: 0.8em;
}

#questionAnswerInput_41:checked ~ #questionAnswerLabel_41 {
    color: lightgreen;
}
#questionAnswerInput_41:checked ~ #questionAnswerLabel_41::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_42:checked ~ #questionAnswerLabel_42 {
    color: lightgreen;
}
#questionAnswerInput_42:checked ~ #questionAnswerLabel_42::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_43:checked ~ #questionAnswerLabel_43 {
    color: lightgreen;
}
#questionAnswerInput_43:checked ~ #questionAnswerLabel_43::before {
    background: rgb(35, 124, 0);
    border-color: rgb(255, 255, 255);
}

#questionAnswerInput_44:checked ~ #questionAnswerLabel_44 {
    color: rgb(255, 103, 86);
}
#questionAnswerInput_44:checked ~ #questionAnswerLabel_44::before {
    background: rgb(124, 0, 0);
    border-color: rgb(255, 255, 255);
}

/* Animation keyframes
------------------------------------------------------------------------*/

@keyframes lamp {

}


@keyframes roaches {

}

@keyframes pulse {
    0% {
        opacity: 0;
    }
     50% {
         opacity: 0.8;
     }
     100% {
        bottom:3em;
     }
}