#blackboard {    
    width: 700px;
    height: 300px;
    left: 90%;
    top: -10px;
}

ol{
    margin-left: 30px;
}
li{
    font-size: 16px;
}
#facebookDesk{
    position: relative;
    margin-bottom: 0px;
    border-bottom: 200px solid brown;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 520px;
    width: 800px;
  }

  #computerDisplay{
      position: absolute;
      width: 300px;
      height: 250px;
      background: grey;
  }