/* Stilsett av scenario */
input {
    display: none;
}

#mainContainer {
    background: linear-gradient(#CFC5B3 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#blackboard {    
    width: 700px;
    height: 300px;
    left: 90%;
    top: -10px;
}

#doormat {
    position: absolute;
    left: 1100px;
    top: 450px;
    width: 150px;
    height: 200px;
    transform: skew(30deg);
    background: #A5712E;
    border: 10px solid #926429;
    box-shadow: 10px 10px 30px 10px #2C2C5B;
  }

#doormatText {
    margin-top: 34px;
    color: white;
    transform: rotate(90deg);
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 1000;
}

ol {
    margin-left: 30px;
}

li {
    font-size: 22px;
}

#facebookDesk {
    position: relative;
    margin-bottom: 0px;
    border-bottom: 200px solid #E5CB9C;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 520px;
    width: 800px;
    z-index: 0;
  }

  /* Stilsett av pc */
  #computer {
      position: absolute;
      width: 710px;
      height: 550px;
      top: 30px;
      left: 30px;
  }

  #computerDisplay {
      position: absolute;
      width: 650px;
      height: 400px;
      background: #EFEFEF;
      border-radius: 30px;
      border-top: 30px solid #333333;
      border-left: 30px solid #333333;
      border-bottom: 30px solid #202020;
      border-right: 30px solid #202020;
      z-index: 3;
  }

  #computerFoot1 {
      position: absolute;
      width: 50px;
      height: 130px;
      background-color: #979797;
      top: 400px;
      left: 330px;
      z-index: 1;
  }

  #computerFoot2 {
    position: absolute;
    width: 220px;
    height: 30px;
    background-color: #979797;
    top: 530px;
    left: 245px;
}

    #webcam {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #202020;
        border-radius: 50%;
        top: 10px;
        left: 350px;
        z-index: 4;
    }

/* Alt av innhold p책 pcskjerm */
#computerScreen {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 650px;
    height: 400;
    z-index: 3;
}

    /* Facebook meny bar */
    #facebookMenu {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 650px;
        height: 35px;
        background-color: #4267B2;
    }

    #facebookLogo {
        position: absolute;
        top: 5px;
        left: 40px;
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 2.5px;
    }

    #facebookF {
        position: absolute;
        top: 0px;
        left: 10px;
        color: #4267B2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 530;
        font-size: 25px;
    }

    /* Artikkel av Greta */
    #gretaArticle {
        position: absolute;
        top: 45px;
        left: 40px;
        width: 250px;
        height: 350px;
        background-color: #EAEAEA;
        border-radius: 5px;
        border: 1px solid #CECECE;
    }

    #gretaImg {
        position: absolute;
        width: 250px;
        border-radius: 5px;
    }

    #articleLinkTxt {
        position: absolute;
        top: 265px;
        left: 0px;
        width: 242px;
        height: 15px;
        padding-left: 8px;
        background-color: #DFDFDF;
        font-size: 10px;
        font-family: sans-serif;
        color: #6D6D6D;
        border-top: 2px solid #CECECE;
    }
    
    #articleHeading {
        position: absolute;
        width: 242px;
        height: 70px;
        background-color: #DFDFDF;
        top: 280px;
        font-weight: 550;
        font-size: 30px;
        padding-left: 8px;
    }

    /* Kommentarfelt */
    .commentSection {
        position: absolute;
        top: 45px;
        left: 300px;
        width: 340px;
        height: 350px;
        background-color: #EAEAEA;
        border-radius: 5px;
        border: 1px solid #CECECE;
    }

    #newComment{
        position: absolute;
        bottom: 5px;
        width: 270px;
        height: 30px;
        font-family: sans-serif;
        font-size: 12px;
        background-color: #DFDFDF;
        padding: 5px;
        border-radius: 15px;
        left: 10px;
        border: 1px solid #CECECE;
        color: grey;
    }

    #sendButton {
        position: relative;
        margin-left: 305px;
        top: 298px;
        font-size: 30px;
        color: #4267B2;

    }

    .facebookName {
        font-family: sans-serif;
        font-weight: 600;
        color: #4267B2;
        font-size: 12px;
    }

    .facebookComment {
        position: absolute;
        width: 300px;
        font-family: sans-serif;
        font-size: 12px;
        background-color: #DFDFDF;
        padding: 10px;
        border-radius: 15px;
        left: 8px;
        border: 1px solid #CECECE;
        margin-top: 5px;
    }

    .facebookActions {
        position: relative;
        top: 25px;
        font-family: sans-serif;
        color: #4267B2;
        font-size: 10px;
        font-weight: 400;
    }

    .commentMinutes {
        color: #6D6D6D;
    }

    .fbSection {
        position: absolute;
        top: 0px;
        width: 340px;
        height: 350px;
        background-color: #EAEAEA;
    }

    .jonnyComment{
        position: absolute;
        width: 270px;
        font-family: sans-serif;
        font-size: 12px;
        background-color: #DFDFDF;
        padding: 5px;
        border-radius: 15px;
        left: 10px;
        border: 1px solid #CECECE;
        color: black;
        bottom: 5px;
    }


    /* "Skyld p책 andre" */
    #fbSection_1 {
        display: none;
    }

    #hugoHansenComment {
        top: 100px;
    }

    /* Kveruler */
    #fbSection_2 {
        display: none;
    }

    /* Snakk nedlatende om ungdommen */
    #fbSection_3{
        display: none;
    }

    #sylviComment {
        top: 75px;
    }

    /* P책st책 at klimakrisen er en konspirasjon */
    #fbSection_4 {
        display: none;
    }

    #ruthComment {
        top: 115px;
    }

/* Knapper */
#buttons {
    position: absolute;
    top: 630px;
    left: 80px;
    width: 900px;
    height: 50px;
}

#firstButton {
    position: relative;
    top: -17px;
}

#secondButton {
    position: relative;
    top: -17px;
}

.buttonsClass {
    font-family: sans-serif;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

#button_1:checked ~ #fbSection_1 {
    display: block;
}

#button_2:checked ~ #fbSection_2 {
    display: block;
}

#button_3:checked ~ #fbSection_3 {
    display: block;
}

#button_4:checked ~ #fbSection_4 {
    display: block;
}