/* Stilsett av scenario */
#mainContainer {
    background: linear-gradient(#CFC5B3 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#blackboard {    
    width: 700px;
    height: 300px;
    left: 90%;
    top: -10px;
}

ol{
    margin-left: 30px;
}

li{
    font-size: 22px;
}

#facebookDesk {
    position: relative;
    margin-bottom: 0px;
    border-bottom: 200px solid #E5CB9C;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 520px;
    width: 800px;
    z-index: 0;
  }

  /* Stilsett av pc */
  #computer {
      position: absolute;
      width: 710px;
      height: 550px;
      top: 30px;
      left: 30px;
  }

  #computerDisplay {
      position: absolute;
      width: 650px;
      height: 400px;
      background: #EFEFEF;
      border-radius: 30px;
      border-top: 30px solid #333333;
      border-left: 30px solid #333333;
      border-bottom: 30px solid #202020;
      border-right: 30px solid #202020;
      z-index: 3;
  }

  #computerFoot1 {
      position: absolute;
      width: 50px;
      height: 130px;
      background-color: #979797;
      top: 400px;
      left: 330px;
      z-index: 1;
  }

  #computerFoot2 {
    position: absolute;
    width: 220px;
    height: 30px;
    background-color: #979797;
    top: 530px;
    left: 245px;
}

#webcam {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #202020;
    border-radius: 50%;
    top: 10px;
    left: 350px;
    z-index: 4;
}

/* Stilsett av knapper */
#buttons {
    position: absolute;
    top: 600px;
    left: 90px;
    width: 700px;
    height: 50px;
    border: 1px solid black;
}

.buttonsClass {
    
}