html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgb(14, 14, 14);
	overflow-x: hidden;
	font-family: comic sans ms;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

input {
	display: none;
}

label {
	cursor: pointer;
}

#mainContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1280px;
	height: 720px;
	transform: translate(-50%, -50%);
	background: #fff;
	overflow: hidden;
}

@font-face {
	font-family: Crayon;
	src: url('../fonts/DJB Chalk It Up.ttf');
}


/* Snakke bobbler styles
------------------------------------------------------------------------------*/
.speechBubble {
	position: relative;
	background: #fff;
	min-height: 1em;
	max-width: 25em;
	width: fit-content;
	padding: 10px;
	margin-bottom: 1em;
	border: solid 2px #34373c;
}

.nextBubble {
	cursor: pointer;
}

/* Klasser for posisjon av pekere til snakkeboblene
  ----------------------------------------------------*/
.bottomLeft {
	border-radius: 6px 6px 6px 0px;
}

.bottomLeft::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -10px;
	border: solid;
	border-width: 10px 10px 0px 0px;
	border-color: transparent #34373c;
}

.bottomRight {
	border-radius: 6px 6px 0px 6px;
}

.bottomRight::after {
	content: '';
	position: absolute;
	bottom: -2px;
	right: -10px;
	border: solid;
	border-width: 10px 0px 0px 10px;
	border-color: transparent #34373c;
}

.topLeft {
	border-radius: 0px 6px 6px 6px;
}

.topLeft::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -10px;
	border: solid;
	border-width: 0px 10px 10px 0px;
	border-color: transparent #34373c;
}

.topRight {
	border-radius: 6px 0px 6px 6px;
}

.topRight::after {
	content: '';
	position: absolute;
	top: -2px;
	right: -10px;
	border: solid;
	border-width: 0px 0px 10px 10px;
	border-color: transparent #34373c;
}