html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}

#mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1280px;    
    height: 720px;
    transform: translate(-50%, -50%);
    background: #fff;
}

@font-face {
    font-family: Crayon;
    src: url('../fonts/CrayonHandRegular2016Demo.ttf');
}