#mainContainer {
    background: url("../images/flat/mars.png");
}

#speechBubble_1 > input, #teleskopInput {
    display: none;
}

#teleskop {
    position: absolute;
    width: 150px;
    height: auto;
    top: 45%;
    left: 40%;
    cursor: pointer;
}

#romskip {
    position: absolute;
    width: 400px;
    height: auto;
    right: 200px;
    top: 50px;
}

#jonny {
    position: absolute;
    height: 300px;
    width: auto;
    left: 100px;
    bottom: 0px;
}

#moonRover {
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 50px;
    right: 100px;
}

#speechBubble_1 {
    position: absolute;
    left: 250px;
    top: 600px;
}

#speechBubble_2 {
    display: none;
    position: absolute;
    left: 250px;
    top: 600px;
}

#speechBubble_3 {
    display: none;
    position: absolute;
    left: 250px;
    top: 600px;
}

.bubbleText {
    display: none;
}

#bubbleText_1Input:checked~#bubbleText_1 {
    display: block;
}

#bubbleText_2Input:checked~#bubbleText_2 {
    display: block;
}

#bubbleText_3Input:checked~#bubbleText_3 {
    display: block;
}

#speechBubble_1Input:checked~#speechBubble_1 {
    display: none;
}

#nextBubble {
    cursor: pointer;
}

@keyframes røykAnimasjon {
    from {transform: translate(0,0%); width: 25px; height: 25px; opacity: 0.7;}
    to {transform: translate(0,-300%); width: 100px; height: 100px; opacity: 0;}
}

#romskipRøykContainer >*{
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100px;
    top: 430px;
    right: 380px;
    border-radius: 100%;
}

#romskipRøyk_1 {
    animation: røykAnimasjon 2s infinite linear;
}

#romskipRøyk_2 {
    animation: røykAnimasjon 1s infinite linear;
}

#romskipRøyk_3 {
    animation: røykAnimasjon 1.5s infinite linear;
}

#romskipRøyk_4 {
    animation: røykAnimasjon 1.75s infinite linear;
}

#romskipRøyk_5 {
    animation: røykAnimasjon 1.75s infinite linear;
}

#romskipRøyk_6 {
    animation: røykAnimasjon 2s infinite linear;
}

#flatJord {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}

#teleskopInput:checked ~ #flatJord {
    display: block;
}
