#mainContainer {
    background: url("../images/flat/mars.png");
}

#speechBubble_1 > input, #telescopeInput {
    display: none;
}

/* Telescope styles
--------------------------------------------------------*/
#telescopeLabel {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 45%;
    left: 40%;
    cursor: pointer;
}

#tapedImage {
    position: absolute;
    left: -1em;
    top: 0em;
    width: 2.5em;
    transform: rotate3d(11, -7, 17, -92deg);
    z-index: 1;
}

#telescopeImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

#telescopeText {
    position: absolute;
    top: 2.25em;
    left: 2em;
    color: black;
    font-size: 0.8em;
    transform: rotate(25deg);
}

/* Bilde som dukker opp når man trykker på teleskopet */
#flatEarth {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 2;
}

#telescopeInput:checked ~ #flatEarth {
    display: block;
}

/* Spaceship styles
--------------------------------------------------------*/
#spaceship {
    position: absolute;
    width: 400px;
    height: auto;
    right: 200px;
    top: 50px;
}

/* Tekstboks */
#backToEarth {
    position: absolute;
    height: 50px;
    right: 442px;
    top: 330px;
    transform: rotate(-50deg);
    text-align: center;
    cursor: pointer;
    color: black;
    font-size: 0.8em;
}
#backToEarth:hover {
    font-size: 0.9em;
}

/* Røyk fra romskipet */
#spaceshipSmokeContainer > * {
    position: absolute;
    top: 430px;
    right: 380px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100%;
}

#spaceshipSmoke_1 {
    animation: smokeAnimation 1s infinite linear;
}

#spaceshipSmoke_2 {
    animation: smokeAnimation 1.5s infinite linear;
}

#spaceshipSmoke_3, #spaceshipSmoke_4 {
    animation: smokeAnimation 1.75s infinite linear;
}

#spaceshipSmoke_5, #spaceshipSmoke_6 {
    animation: smokeAnimation 2s infinite linear;
}

/* Figurer 
--------------------------------------------------------*/
#jonny {
    position: absolute;
    height: 300px;
    width: auto;
    left: 100px;
    bottom: 0px;
    animation: jonnyAnimation 1s linear;
}

#moonRover {
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 50px;
    animation: roverAnimation 3s linear infinite alternate;
}

#ET {
    position: absolute;
    width: 30px;
    height: auto;
    left: 120px;
    top: 180px;
    animation: ETAnimation 20s linear 1s infinite;
}

/* Snakkebokbler
--------------------------------------------------------*/
#speechBubble_1 {
    position: absolute;
    left: 250px;
    top: 510px;
    animation: speachBubbleAnimation 1s linear;
}

#speechBubble_2 {
    display: none;
    position: absolute;
    left: 250px;
    top: 600px;
}

#speechBubble_3 {
    display: none;
    position: absolute;
    left: 250px;
    top: 600px;
}

.bubbleText {
    display: none;
}

#bubbleText_1Input:checked ~ #bubbleText_1 {
    display: block;
}

#bubbleText_2Input:checked ~ #bubbleText_2 {
    display: block;
}

#bubbleText_3Input:checked ~ #bubbleText_3 {
    display: block;
}

#speechBubble_1Input:checked ~ #speechBubble_1 {
    display: none;
}

/* Animation keyframes
--------------------------------------------------------*/
@keyframes smokeAnimation {
    from {
        transform: translate(0,0%);
        width: 25px;
        height: 25px;
        opacity: 0.7;
    }

    to {
        transform: translate(0,-300%);
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

@keyframes roverAnimation {
    0% {right: 50px;}
    20% {right: 100px;}
    40% {right: 150px;}
    60% {right: 200px;}
    80% {right: 250px;}
    100% {right: 300px;}
}

@keyframes ETAnimation {
    40% {left: 140px; top: 175px;}
    60% {left: 160px; top: 175px;}
    80% {left: 180px; top: 180px;}
    100% {left: 180px; top: 180px;}
}

@keyframes jonnyAnimation {
    from {left: 0px;}
    to {left: 100px;}
}

@keyframes speachBubbleAnimation {
    from {left: 150px;}
    to {left: 250px;}
}