
#mainContainer {
    background-color: rgb(213, 255, 255);
}

#speechBubble_1 {
    position: absolute;
    left: 650px;
    bottom: 300px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

#speechBubble_1Input {
    display: none;
}

#speechBubble_1Input:checked ~ #speechBubble_1{
    visibility: visible;
    opacity: 1;
}

#jonny {
    position: absolute;
    width: 90px;
    left: -500px;
    top: 405px;
    animation-name: jonnyAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes jonnyAnim {
    0% {left: -370px; top: 500px; width: 70px;}
    40% {left: 580px; top: 500px; width: 70px;}
    50% {left: 580px; top: 450px; width: 90px;}
    60% {top: 440px;}
    60% {top: 440px;}
    70% {top: 430px;}
    70% {top: 430px;}
    80% {top: 420px;}
    80% {top: 420px;}
    90% {top: 410px;}
    90% {top: 410px;}
    100% {left: 530px; top: 405px; width: 90px;}
}

#copCarContainer {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: -500px;
    animation-name: copCarAnim;
    animation-duration: 3s;
    z-index: 2;
}

@keyframes copCarAnim {
    0% {left: -500px;}
    40% {left: 450px;}
    50% {left: 450px;}
    100% {left: 1500px;}
}

#copCar {
    position: absolute;
    bottom: 30px;
}

#copCarWheelLeft {
    position: absolute;
    bottom: 30px;
    left: 86px;
}

#copCarWheelRight {
    position: absolute;
    bottom: 30px;
    left: 336px;
}

#jonny:hover {
    transform: scale(1.05);
}

#houseJonny {
    position: absolute;
    top: 200px;
    z-index: 1;
}

#doorJonny {
    position: absolute;
    top: 385px;
    left: 412px;
    z-index: 1;
}

#doorJonny:hover {
    transform: scale(1.05);
}

#signLeft {
    position: absolute;
    left: 410px;
    top: 350px;
    z-index: 1;
}

#signRight {
    position: absolute;
    left: 474px;
    top: 345px;
    z-index: 1;
    transform: rotate(-8deg);
    animation-name: signRightAnim;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
}

@keyframes signRightAnim {
    0% {top: 345px; transform: rotate(-8deg); left: 474px;}
    10% {top: 345px; transform: rotate(-12deg);}
    20% {top: 345px; transform: rotate(-8deg);}
    30% {top: 345px; transform: rotate(-12deg);}
    40% {top: 345px; transform: rotate(-8deg);}
    50% {top: 345px; transform: rotate(-12deg);}
    60% {top: 345px; transform: rotate(-8deg); left: 474px;}
    100% {top: 360px; transform: rotate(10deg); left: 478px;}
}

#rat1 {
    position: absolute;
    left: 870px;
    bottom: 155px;
    animation-name: rat1Anim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    transform: rotate(0deg);
}

@keyframes rat1Anim {
    0% {left: 870px; bottom: 155px;}
    20% {left: 670px; bottom: 135px;}
    40% {left: 500px; bottom: 135px;}
    60% {left: 350px; bottom: 135px;z-index: 1;}
    80% {left: 220px; bottom: 155px; z-index: 1; transform: rotateY(0deg);}
    81% {z-index: 0; transform: rotateY(180deg);}
    99% {z-index: 0; transform: rotateY(180deg);}
    100%{left: 870px; bottom: 155px; z-index: 1; transform: rotateY(0deg);}
}

#rat2 {
    position: absolute;
    left: 600px;
    bottom: 387px;
    animation-name: rat2and3Anim;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    z-index: 0;
    transform:rotateY(180deg) rotate(-28deg);
}

#rat3 {
    position: absolute;
    left: 600px;
    bottom: 387px;
    animation-name: rat2and3Anim;
    animation-duration: 10s;
    animation-delay: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    z-index: 0;
    transform:rotateY(180deg) rotate(-28deg);
}

@keyframes rat2and3Anim {
 0% {left: 600px; bottom: 387px; transform:rotateY(180deg) rotate(-28deg);}
 1% {z-index: 1}
 5% {left: 620px; bottom: 310px; transform:rotateY(180deg) rotate(0deg);}
 10% {left: 650px; bottom: 310px;}
 13% {left: 715px; bottom: 370px;}
 14% {left: 720px; bottom: 365px;}
 20% {left: 800px; bottom: 155px; transform:rotateY(180deg) rotate(0deg);}
 21% {transform:rotateY(0deg) rotate(0deg);}
 40% {left: 650px; bottom: 155px; transform:rotateY(0deg) rotate(0deg);}
 41% {transform:rotateY(0deg) rotate(28deg);}
 43% {left: 620px; bottom: 250px; transform:rotateY(0deg) rotate(28deg); }
 45% {left: 610px; bottom: 230px; transform:rotateY(0deg) rotate(0deg);}
 50% {left: 600px; z-index: 1;}
 51% {z-index: 0;}
 99% {left: 620px; bottom: 230px; transform:rotateY(0deg) rotate(0deg);}
 100% {left: 600px; bottom: 387px; z-index: 0}
}

#houseLeft {
    position: absolute;
    background-color: rgb(189, 60, 60);
    width: 200px;
    height: 460px;
    top: 105px;
}

#houseLeftRoof {
    position: absolute;
    background-color: rgb(68, 0, 0);
    width: 250px;
    height: 100px;
    top: -100px;
}

#houseLeftWindow1 {
    position: absolute;
    width: 90px;
    top: 20px;
    left: 20px;
}

#houseLeftWindow2 {
    position: absolute;
    width: 90px;
    top: 240px;
    left: 20px;
} 

#houseRight {
    position: absolute;
    background-color: rgb(255, 208, 56);
    width: 200px;
    height: 400px;
    top: 165px;
    right: 0px;
}

#houseRightRoof {
    position: absolute;
    background-color: rgb(68, 0, 0);
    width: 300px;
    height: 50px;
    right: -20px;;
    top: -25px;
    transform: rotate(-10deg);
}

#houseRightWindow1 {
    position: absolute;
    top: 120px;
    left: 30px;
}

#houseRightWindow2 {
    position: absolute;
    top: 120px;
    left: 180px;
}

#road {
    background-color: rgb(119, 108, 108);
    width: 1280px;
    height: 150px;
    position: absolute;
    top: 570px;
}

#roadLine {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: url("../images/Index/roadLine.png");
    width: 1280px;
    height: 10px;
}