
/* Main container bakgrunn
------------------------------------------------------------------------------------------------------- */
#mainContainer {
    background-color: rgb(213, 255, 255);
}

/* Huset till Jonny
------------------------------------------------------------------------------------------------------- */
#houseJonny {
    position: absolute;
    top: 200px;
    z-index: 1;
}
#doorJonny {
    position: absolute;
    top: 385px;
    left: 412px;
    z-index: 1;
    transition-duration: 1s;
}
#doorJonny:hover {
    transform: scale(1.1);
}

/* Røyk divs */
.smokeHouseJonny div{
    position: absolute;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    left: 470px;
    top: 200px;
    opacity: 0;
}

/* Animationer for søppel elementer
------------------------------------------------------------------------------------------------------- */
#trashSmell_1 {
    position: absolute;
    width: 60px;
    left: 350px;
    top: 520px;
    transform: scaleY(-1);
    opacity: 0;
    animation: trashSmell1Anim 4s infinite ease;
}
#trashSmell_2 {
    position: absolute;
    width: 60px;
    left: 760px;
    top: 480px;
    transform: rotate(5deg)  scaleY(-1);
    opacity: 0;
    animation: trashSmell2Anim 3s infinite ease 1s;
}
#trashSmell_3 {
    position: absolute;
    width: 60px;
    left: 800px;
    top: 500px;
    transform: rotate(15deg);
    opacity: 0;
    animation: trashSmell3Anim 3s infinite ease 2s;
}

/* Keyframes */
@keyframes trashSmell1Anim {
    0% {opacity: 0; left: 330px; top: 520px;}
    25% {left: 320px; opacity: 0.4;}
    50% {opacity: 0.2; left: 330px;}
    75% {opacity: 0.4;}
    100% {opacity: 0; left: 320px; top: 400px;}
}
@keyframes trashSmell2Anim {
    0% {opacity: 0; left: 760px; top: 480px;}
    25% {left: 750px; opacity: 0.4;}
    50% {opacity: 0.2; left: 760px;}
    75% {opacity: 0.4;}
    100% {opacity: 0; left: 750px; top: 450px;}
}
@keyframes trashSmell3Anim {
    0% {opacity: 0; left: 800px; top: 500px;}
    25% {left: 780px; opacity: 0.4;}
    50% {opacity: 0.2; left: 800px;}
    75% {opacity: 0.4;}
    100% {opacity: 0; left: 790px; top: 450px;}
}

/* Animationer for røyk elementer
------------------------------------------------------------------------------------------------------- */
#smokeHouseJonny_1 {
    animation: smokeHouseJonnyAnim1 2s infinite linear;
}
#smokeHouseJonny_2 {
    animation: smokeHouseJonnyAnim2 1.5s infinite linear 0.5s;
}
#smokeHouseJonny_3 {
    animation: smokeHouseJonnyAnim3 2s infinite linear 0.5s;
}
#smokeHouseJonny_4 {
    animation: smokeHouseJonnyAnim4 1.7s infinite linear 1s;
}
#smokeHouseJonny_5 {
    animation: smokeHouseJonnyAnim5 1.5s infinite linear 1.5s;
}

/* Keyframes */
@keyframes smokeHouseJonnyAnim1 {
    0% {left: 470px; top: 200px; width: 25px; height: 25px; opacity: 0.6;}
    50% {left: 500px;}
    100% {left: 570px; top: 10px; width: 100px; height: 100px; opacity: 0;}
}
@keyframes smokeHouseJonnyAnim2 {
    0% {left: 470px; top: 200px; width: 25px; height: 25px; opacity: 0.5;}
    50% {left: 510px;}
    100% {left: 580px; top: 0px; width: 110px; height: 110px; opacity: 0;}
}
@keyframes smokeHouseJonnyAnim3 {
    0% {left: 470px; top: 200px; width: 25px; height: 25px; opacity: 0.4;}
    50% {left: 490px;}
    100% {left: 570px; top: 20px; width: 90px; height: 90px; opacity: 0;}
}
@keyframes smokeHouseJonnyAnim4 {
    0% {left: 470px; top: 200px; width: 25px; height: 25px; opacity: 0.7;}
    50% {left: 480px;}
    100% {left: 560px; top: 5px; width: 105px; height: 105px; opacity: 0;}
}
@keyframes smokeHouseJonnyAnim5 {
    0% {left: 470px; top: 200px; width: 25px; height: 25px; opacity: 0.5;}
    50% {left: 520px;}
    100% {left: 550px; top: 15px; width: 105px; height: 105px; opacity: 0;}
}

/* Skilt på Jonnys hus og animation
------------------------------------------------------------------------------------------------------- */
#signLeft {
    position: absolute;
    left: 410px;
    top: 350px;
    z-index: 1;
}
#signRight {
    position: absolute;
    left: 474px;
    top: 345px;
    z-index: 2;
    transform: rotate(-8deg);
    animation: signRightAnim 1s 3s forwards;
}

/* Keyframes */
@keyframes signRightAnim {
    0% {top: 345px; transform: rotate(-8deg); left: 474px;}
    10% {top: 345px; transform: rotate(-12deg);}
    20% {top: 345px; transform: rotate(-8deg);}
    30% {top: 345px; transform: rotate(-12deg);}
    40% {top: 345px; transform: rotate(-8deg);}
    50% {top: 345px; transform: rotate(-12deg);}
    60% {top: 345px; transform: rotate(-8deg); left: 474px;}
    100% {top: 360px; transform: rotate(10deg); left: 478px;}
}

/* Animationer for rotter
------------------------------------------------------------------------------------------------------- */
#rat_1 {
    position: absolute;
    left: 870px;
    bottom: 155px;
    animation: rat1Anim 10s infinite linear;
    z-index: 1;
    transform: rotate(0deg);
}
#rat_2 {
    animation: rat2and3Anim 10s 5s ease-in infinite;
}
#rat_3 {
    animation: rat2and3Anim 10s 6s ease-in infinite;
}
.rat2and3 {
    position: absolute;
    left: 600px;
    bottom: 387px;
    transform:rotateY(180deg) rotate(-28deg);
    z-index: 0;
}

/* Keyframes */
@keyframes rat1Anim {
    0% {left: 870px; bottom: 155px;}
    20% {left: 670px; bottom: 135px;}
    40% {left: 500px; bottom: 135px;}
    60% {left: 350px; bottom: 135px;z-index: 1;}
    80% {left: 220px; bottom: 155px; z-index: 1; transform: rotateY(0deg);}
    81% {z-index: 0; transform: rotateY(180deg);}
    99% {z-index: 0; transform: rotateY(180deg);}
    100%{left: 870px; bottom: 155px; z-index: 1; transform: rotateY(0deg);}
}
@keyframes rat2and3Anim {
    0% {left: 600px; bottom: 387px; transform:rotateY(180deg) rotate(-28deg); opacity: 0;}
    1% {z-index: 1}
    3% {opacity: 1;}
    5% {left: 620px; bottom: 310px; transform:rotateY(180deg) rotate(0deg);}
    10% {left: 650px; bottom: 310px;}
    13% {left: 715px; bottom: 370px;}
    14% {left: 720px; bottom: 365px;}
    20% {left: 800px; bottom: 155px; transform:rotateY(180deg) rotate(0deg);}
    21% {transform:rotateY(0deg) rotate(0deg);}
    40% {left: 650px; bottom: 155px; transform:rotateY(0deg) rotate(0deg);}
    41% {transform:rotateY(0deg) rotate(28deg);}
    43% {left: 620px; bottom: 250px; transform:rotateY(0deg) rotate(28deg); }
    45% {left: 610px; bottom: 230px; transform:rotateY(0deg) rotate(0deg);}
    50% {z-index: 1; opacity: 1;}
    55% {left: 580px; z-index: 0; opacity: 0;}
    99% {left: 620px; bottom: 230px; transform:rotateY(0deg) rotate(0deg);}
    100% {left: 600px; bottom: 387px; z-index: 0}
}

/* Animationer for fluer
------------------------------------------------------------------------------------------------------- */
#fly_1 {
    position: absolute;
    left: 360px;
    bottom: 250px;
    transform: rotate(0deg);
    animation: fly1Anim 0.5s linear infinite;
}
#fly_2 {
    position: absolute;
    left: 300px;
    bottom: 190px;
    transform: rotate(45deg);
    animation: fly2Anim 0.4s linear infinite;
}
#fly_3 {
    position: absolute;
    left: 320px;
    bottom: 220px;
    transform: rotate(145deg);
    animation: fly3Anim 0.3s linear infinite;
}
#fly_4 {
    position: absolute;
    left: 330px;
    bottom: 260px;
    transform: rotate(245deg);
    animation: fly4Anim 0.6s linear infinite;
}
#fly_5 {
    position: absolute;
    left: 830px;
    bottom: 210px;
    transform: rotate(300deg);
    animation: fly5Anim 0.4s linear infinite;
}
#fly_6 {
    position: absolute;
    left: 780px;
    bottom: 220px;
    transform: rotate(150deg);
    animation: fly6Anim 0.5s linear infinite;
}

/* Keyframes */
@keyframes fly1Anim {
    0% {left: 360px; bottom: 250px; transform: rotate(0deg);}
    20% {left: 350px; bottom: 240px;}
    40% {left: 360px; bottom: 230px;}
    60% {left: 340px; bottom: 240px; transform: rotate(300deg);}
    80% {left: 350px; bottom: 260px;}
    100% {left: 360px; bottom: 250px; transform: rotate(0deg);}
}
@keyframes fly2Anim {
    0% {left: 300px; bottom: 190px; transform: rotate(45deg);}
    20% {left: 310px; bottom: 200px;}
    40% {left: 290px; bottom: 230px;}
    60% {left: 300px; bottom: 240px; transform: rotate(245deg);}
    80% {left: 310px; bottom: 220px;}
    100% {left: 300px; bottom: 190px; transform: rotate(45deg);}
}
@keyframes fly3Anim {
    0% {left: 320px; bottom: 220px; transform: rotate(145deg);}
    20% {left: 310px; bottom: 210px;}
    40% {left: 300px; bottom: 190px;}
    60% {left: 320px; bottom: 220px; transform: rotate(0deg);}
    80% {left: 330px; bottom: 200px;}
    100% {left: 320px; bottom: 220px; transform: rotate(145deg);}
}
@keyframes fly4Anim {
    0% {left: 330px; bottom: 260px; transform: rotate(145deg);}
    20% {left: 320px; bottom: 240px;}
    40% {left: 310px; bottom: 270px;}
    60% {left: 300px; bottom: 250px; transform: rotate(345deg);}
    80% {left: 320px; bottom: 240px;}
    100% {left: 330px; bottom: 260px; transform: rotate(145deg);}
}
@keyframes fly5Anim {
    0% {left: 830px; bottom: 210px; transform: rotate(300deg);}
    20% {left: 810px; bottom: 220px;}
    40% {left:790px; bottom: 230px;}
    60% {left: 810px; bottom: 220px; transform: rotate(45deg);}
    80% {left: 820px; bottom: 230px;}
    100% {left: 830px; bottom: 210px; transform: rotate(300deg);}
}
@keyframes fly6Anim {
    0% {left: 780px; bottom: 220px; transform: rotate(150deg);}
    20% {left: 790px; bottom: 230px;}
    40% {left:770px; bottom: 240px;}
    60% {left: 760px; bottom: 230px; transform: rotate(360deg);}
    80% {left: 790px; bottom: 240px;}
    100% {left: 780px; bottom: 220px; transform: rotate(150deg);}
}

/* Statiska bilder og divs i scenen
------------------------------------------------------------------------------------------------------- */
#houseLeft {
    position: absolute;
    background-color: rgb(189, 60, 60);
    width: 200px;
    height: 460px;
    top: 105px;
}
#houseLeftRoof {
    position: absolute;
    background-color: rgb(68, 0, 0);
    width: 250px;
    height: 100px;
    top: -100px;
}
#houseLeftWindow_1 {
    position: absolute;
    width: 90px;
    top: 20px;
    left: 20px;
}
#houseLeftWindow_2 {
    position: absolute;
    width: 90px;
    top: 240px;
    left: 20px;
} 
#houseRight {
    position: absolute;
    background-color: rgb(255, 208, 56);
    width: 200px;
    height: 400px;
    top: 165px;
    right: 0px;
}
#houseRightRoof {
    position: absolute;
    background-color: rgb(68, 0, 0);
    width: 300px;
    height: 50px;
    right: -20px;;
    top: -25px;
    transform: rotate(-10deg);
}
#houseRightWindow_1 {
    position: absolute;
    top: 120px;
    left: 30px;
}
#houseRightWindow_2 {
    position: absolute;
    top: 120px;
    left: 180px;
}
#road {
    background-color: rgb(119, 108, 108);
    width: 1280px;
    height: 150px;
    position: absolute;
    top: 570px;
}
#roadLine {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: url("../images/Index/roadLine.png");
    width: 1280px;
    height: 10px;
}

/* Politi bil container, bilder og animationer
------------------------------------------------------------------------------------------------------- */
#copCarContainer {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: -500px;
    animation: copCarAnim 3s;
    z-index: 2;
}
#copCar {
    position: absolute;
    bottom: 30px;
}
#copCarWheelLeft {
    position: absolute;
    bottom: 30px;
    left: 86px;
    animation: copCarWheelsAnim 3s ease-out;
}
#copCarWheelRight {
    position: absolute;
    bottom: 30px;
    left: 336px;
    animation: copCarWheelsAnim 3s ease;
}

/* Keyframes */
@keyframes copCarAnim {
    0% {left: -500px;}
    40% {left: 450px;}
    60% {left: 450px;}
    100% {left: 1400px;}
}
@keyframes copCarWheelsAnim {
    0% {transform: rotate(0deg);}
    40% {transform: rotate(500deg);}
    60% {transform: rotate(500deg);}
    100% {transform: rotate(1500deg);}
}

/* Bilde av Jonny og animation
------------------------------------------------------------------------------------------------------- */
#jonny {
    position: absolute;
    width: 90px;
    left: -500px;
    top: 405px;
    animation: jonnyAnim 3s forwards; 
    z-index: 1;
    transition-duration: 1s;
}
#jonny:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Keyframes */
@keyframes jonnyAnim {
    0% {left: -370px; top: 500px; width: 70px;}
    40% {left: 580px; top: 500px; width: 70px;}
    50% {left: 580px; top: 450px; width: 90px;}
    55% {top: 430px;}
    60% {top: 440px;}
    65% {top: 420px;}
    70% {top: 430px;}
    75% {top: 410px;}
    80% {top: 420px;}
    85% {top: 400px;}
    90% {top: 410px;}
    95% {top: 390px;}
    100% {left: 530px; top: 405px; width: 90px;}
}

/* Snakkebobble og transition
------------------------------------------------------------------------------------------------------- */
#speechBubbleContainer_1 {
    position: absolute;
    left: 39em;
    bottom: 16em;
    z-index: 2;
}

.hiddenSection {
    opacity: 0;
}

#speechBubble_1 {
    transition: all 1s;
}

.bubbleText {
    display: none;
    color: #000;
}

/* Før eksamen snakkebobbler */
#speechBubbleInput_1:checked ~ #speechBubble_1,
#bubbleTextInput_11:checked ~ #bubbleText_11,
#bubbleTextInput_12:checked ~ #bubbleText_12,
#bubbleTextInput_13:checked ~ #bubbleText_13,
#bubbleTextInput_14:checked ~ #bubbleText_14 {
    opacity: 1;
    display: block;
}