#mainContainer {
    background: linear-gradient(#dc9d62 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#blackboard {    
    width: 500px;
    height: 240px;
    background: green;
    border: solid 4px white;
    position: absolute;
    left: 50%;
    top: 2em;
    transform: translate(-50%, 0);
    font-family: Crayon, comic sans ms;
    font-size: 24px;
    color: white;
}

#desk  {
    width: 350px;
    height: 160px;
    background: brown;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}