#mainContainer {
    background: linear-gradient(#dc9d62 51%, white 51%, white 54%, rgb(30, 30, 88) 54%, #333369 60%);
}

#blackboard {    
    width: 600px;
    height: 300px;
    background: #21561E;
    border: solid 4px white;
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translate(-50%, 0);
    font-family: Crayon, comic sans ms;
    font-size: 24px;
    color: white;
}

#desk {
    width: 350px;
    height: 160px;
    background: rgb(129, 84, 47);
    position: absolute;
    left: 50%;
    top: 420px;
    transform: translate(-50%, -45%);
}

#deskTableTop {
    position: absolute;
    top: -0.8em;
    height: 0.8em;
    width: 120%;
    left: 50%;
    transform: translate(-50%);
    background: inherit;
}

#deskSign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

