#mainContainer {
    background: linear-gradient(#1a75e8 51%, green 51%, darkgreen 54%, darkgreen 54%, green 60%);
}

/*Animation av snø for bakken*/
/*----------------------------------------------------*/
/* Snø dekke */
#snowGround {
    background-color: white;
    position: absolute;
    width: 1280px;
    height: 352px;
    bottom: 0;
    animation: snowGroundAnim 15s linear infinite;
}

/* Keyframes */
@keyframes snowGroundAnim {
    0% {opacity: 0;}
    15% {opacity: 1;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

/*Animation av solen*/
/*----------------------------------------------------*/
/* Sol element */
#sol {
    position: absolute;
    width: 200px;
    top: 20px;
    right: -300px;
    animation: solAnim 15s ease infinite;
}

/* Keyframes */
@keyframes solAnim {
    0% {right: 100px;}
    2% {right: 100px;}
    6% {right: -300px;}
    35% {right: -300px;}
    40% {right: 100px;}
    100% {right: 100px;}
}

/*Styling av lava bilde*/
/*----------------------------------------------------*/
#lavaPic {
    height: 350px;
    width: 350px;
    position: absolute;
    left: 900px;
    bottom: 0px;
    z-index: 1;
}

/* Animasjon av snø
/*----------------------------------------------------*/
#snowFlakeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 250px;

}

#snowFlakeContainer>* {
    position: relative;
    top: -50px;
    left: 0px;
    animation: snow 15s linear infinite;
    opacity: 0;
    z-index: 1;
}

/* Possisjonering av snøflak */
#snowFlake_1 {
    transform: translate(50px, -150px);
}

#snowFlake_2 {
    transform: translate(100px, 750px);
}

#snowFlake_3 {
    transform: translate(150px, -350px);
}

#snowFlake_4 {
    transform: translate(200px, 25px);
}

#snowFlake_5 {
    transform: translate(250px, -560px);
}

#snowFlake_6 {
    transform: translate(300px, 350px);
}

#snowFlake_7 {
    transform: translate(350px, -200px);
}

#snowFlake_8 {
    transform: translate(400px, 600px);
}

#snowFlake_9 {
    transform: translate(450px, -590px);
}

#snowFlake_10 {
    transform: translate(500px, 400px);
}

#snowFlake_11 {
    transform: translate(550px, -15px);
}

#snowFlake_12 {
    transform: translate(600px, 550px);
}

#snowFlake_13 {
    transform: translate(650px, -800px);
}

#snowFlake_14 {
    transform: translate(700px, 950px);
}

#snowFlake_15 {
    transform: translate(750px, -70px);
}

#snowFlake_16 {
    transform: translate(800px, 120px);
}

#snowFlake_17 {
    transform: translate(850px, -780px);
}

#snowFlake_18 {
    transform: translate(900px, 40px);
}

#snowFlake_19 {
    transform: translate(950px, -1220px);
}

#snowFlake_20 {
    transform: translate(1000px, 370px);
}

#snowFlake_21 {
    transform: translate(1050px, -240px);
}

@keyframes snow {
    0% {
        left: 70px;
        top: 0px;
        opacity: 1;
    }

    5% {left: 0px;}
    10% {left: -70px;}
    15% {left: 0px;}
    20% {left: 70px;}
    25% {left: 0px;}
    
    30% {
        left: -70px;
        opacity: 1;
    }
    
    35% {left: 0px;}
    40% {left: 70px;}

    45% {
        left: 0px;
        top: 780px;
        opacity: 0;
    }

    100% {opacity: 0;}
}


/*----------------------------------------------------*/

#lavaPic {
    height: 350px;
    width: 350px;
    position: absolute;
    left: 900px;
    bottom: 0px;
    z-index: 1;
}

/* amimasjon for tornado */
/*----------------------------------------------------*/
#tornado {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    bottom: 350px;
    z-index: 1;
}

#tornado>* {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#tornadoPic_1 {
    transform: rotateY(0deg);
    animation: move_1 20s linear infinite alternate;
}

#tornadoPic_2 {
    transform: rotateY(45deg);
    animation: move_2 20s linear infinite alternate;
}

#tornadoPic_3 {
    transform: rotateY(90deg);
    animation: move_3 20s linear infinite alternate;
}

#tornadoPic_4 {
    transform: rotateY(135deg);
    animation: move_4 20s linear infinite alternate;
}


@keyframes move_1 {
    0% {
        left: 0px;
        transform: rotateY(0deg);
        width: 100px;
        height: 100px;
    }

    100% {
        left: 1200px;
        transform: rotateY(6160deg);
        width: 600px;
        height: 600px;
    }
}

@keyframes move_2 {
    0% {
        left: 0px;
        transform: rotateY(45deg);
        width: 100px;
        height: 100px;
    }

    100% {
        left: 1200px;
        transform: rotateY(6205deg);
        width: 600px;
        height: 600px;
    }
}


@keyframes move_3 {
    0% {
        left: 0px;
        transform: rotateY(90deg);
        width: 100px;
        height: 100px;
    }

    100% {
        left: 1200px;
        transform: rotateY(6250deg);
        width: 600px;
        height: 600px;
    }
}

@keyframes move_4 {
    0% {
        left: 0px;
        transform: rotateY(135deg);
        width: 100px;
        height: 100px;
    }

    100% {
        left: 1200px;
        transform: rotateY(6295deg);
        width: 600px;
        height: 600px;
    }
}

/*Snakke boble styles*/
/*----------------------------------------------------*/
#speechBubble_1 {
    position: absolute;
    bottom: 235px;
    left: 300px;
    z-index: 99;
}

.bubbleText,
.rocketTravel {
    display: none;
}

#bubbleText_1Input:checked~#bubbleText_1 {
    display: block;
}

#bubbleText_2Input:checked~#bubbleText_2 {
    display: block;
}

/* Styling og animasjon av rakett*/
/*----------------------------------------------------*/
#rocketPicContainer_1 {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 350px;
    left: 100px;
    z-index: 99;
    transform: translate(-50%, -50%);
}

#rocketPicContainer_1:hover {
    height: 370px;
    width: 320px;
}

#rocketPic_1 {
    height: 100%;
    width: 100%;
}

#rocketPic_2 {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 350px;
    left: 100px;
    z-index: 99;
    transform: translate(-50%, -50%);
    animation: rocket 5s ease-out 3s forwards;

}

#rocketTravelInput:checked~#rocketTravel {
    display: block;

}

#rocketTravelAnimatedInput:checked~#rocketTravelAnimated {
    display: block;
}

@keyframes rocket {
    100% {
        top: 40px;
        left: 45px;
        height: 25px;
        width: 5px;
    }
}

/*Styling og animasjon av Jonny*/
/*----------------------------------------------------*/
#jonnyPic_1 {
    height: 200px;
    width: 100px;
    position: absolute;
    left: 200px;
    bottom: 100px;
    z-index: 100;
}

#jonnyPic_2 {
    height: 200px;
    width: 100px;
    position: absolute;
    left: 200px;
    bottom: 100px;
    animation: jonny 3s ease-out forwards;
    opacity: 1;
    z-index: 100;
}

@keyframes jonny {
    10% {bottom: 20px;}
    20% {bottom: 40px;}
    30% {bottom: 60px;}
    40% {bottom: 80px;}
    50% {bottom: 100px;}
    60% {bottom: 120px;}
    70% {bottom: 160px;}
    80% {bottom: 180px;}
    90% {bottom: 200px;}
    99% {opacity: 1;}
    100% {
        left: 20px;
        bottom: 250px;
        opacity: 0;
        height: 100px;
        width: 50px;
    }
}

/*Styling av kanpp som fører videre til neste side*/
/*----------------------------------------------------*/
#nextPageContainer {
    position: absolute;
    bottom: 3em;
    left: 5em;
}

#nextPageBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7em;
    height: 4em;
    background: black;
    border-radius: 13px;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#nextPageBtn:hover {
    font-size: 1.1em;
}

#nextPageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: antiquewhite;
}

/*Styling av mars*/
/*----------------------------------------------------*/
#marsPic {
    margin: 20px;
}

/*Styling av gress*/
/*----------------------------------------------------*/
#grassPic_1 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10px;
}

#grassPic_2 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 200px;
}

#grassPic_3 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 50px;
    right: 10px;
}

#grassPic_4 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 100px;
    left: 20px
}

#grassPic_5 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 200px;
    left: 500px;
}

/*----------------------------------------------------*/